body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px; 
  width: auto;  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.home, .dashboard, .about {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.plus-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.plus-button:hover {
  background-color: #0056b3;
}

.add-recipe {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 1em;
}

.add-recipe h2 {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
}

.recipe-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.recipe-form input,
.recipe-form select,
.recipe-form textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.recipe-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.recipe-form button:hover {
  background-color: #0056b3;
}

textarea {
  resize: none;
}

.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.workouts, .recipes, .locations {
  width: 45%;
}

.plus-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.plus-button:hover {
  background-color: #218838;
}

.recipe-list, .workout-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.recipe-item, .workout-item {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.recipe-item:hover, .workout-item:hover {
  background-color: #e2e6ea;
}

.recipe-link, .workout-link {
  text-decoration: none;
  color: inherit;
}

.recipe-link h3, .workout-link h3 {
  margin: 0;
}

.recipe-link p, .workout-link p {
  margin: 5px 0 0;
}

.recipe-detail {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-detail h1 {
  margin-top: 0;
  font-size: 2em;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.recipe-info p {
  margin: 10px 0;
  line-height: 1.6;
}

.recipe-info p strong {
  color: #333;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-button, .delete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}


.editRecipeContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.editRecipeForm {
  display: flex;
  flex-direction: column;
}

.editRecipeForm label {
  margin-bottom: 10px;
  color: #555;
}

.editRecipeForm input,
.editRecipeForm select,
.editRecipeForm textarea {
  width: calc(100% - 22px); 
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.editRecipeForm textarea {
  resize: none;
  height: 100px;
}

.save-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #218838;
}


.add-workout {
  margin: 1em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 600px;
}

.add-workout h2 {
  margin-bottom: 20px;
}

.add-workout label {
  display: block;
  margin-bottom: 10px;
}

.add-workout input,
.add-workout textarea,
.add-workout select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-workout button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-workout button:hover {
  background-color: #218838;
}

.selected-exercise {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selected-exercise h3 {
  margin-top: 0;
}

.selected-exercise label {
  display: block;
  margin-bottom: 10px;
}

.selected-exercise input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.workout-detail {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workout-detail h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.workout-info {
  margin-bottom: 20px;
}

.workout-info p {
  font-size: 1.1em;
  margin: 5px 0;
}

.exercises-list {
  margin-bottom: 20px;
}

.exercises-list h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #555;
}

.exercise-detail {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.exercise-detail h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #444;
}

.exercise-detail p {
  margin: 3px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons .edit-button,
.buttons .delete-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .edit-button {
  background-color: #4caf50;
  color: white;
}

.buttons .delete-button {
  background-color: #f44336;
  color: white;
}

.buttons .edit-button:hover {
  background-color: #45a049;
}

.buttons .delete-button:hover, .btn-delete-location {
  background-color: #e53935;
}


.edit-workout {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-workout h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.edit-workout form {
  display: flex;
  flex-direction: column;
}

.edit-workout label {
  margin-bottom: 15px;
  font-weight: bold;
  color: #555;
}

.edit-workout input[type="text"],
.edit-workout input[type="number"],
.edit-workout textarea,
.edit-workout select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-workout select {
  height: 100px;
}

.edit-workout .selected-exercise {
  margin-top: 15px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 4px;
}

.edit-workout .selected-exercise h3 {
  margin-bottom: 5px;
}

.edit-workout .selected-exercise label {
  font-weight: normal;
  color: #333;
}

.edit-workout .selected-exercise input[type="number"] {
  width: 60px;
  margin-left: 10px;
}

.edit-workout button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.edit-workout button:hover {
  background-color: #0056b3;
}

.edit-workout button:focus {
  outline: none;
}



.admin-panel {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 20px;
  background-color: #e0f7fa; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #00796b;
}

.collapsible-section {
  margin-bottom: 20px;
}

.collapsible-button {
  background-color: #00796b; 
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.collapsible-button:hover {
  background-color: #004d40; 
}

.collapsible-content {
  background-color: #ffffff;
  border: 1px solid #b2ebf2; 
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.admin-panel ul {
  list-style-type: none;
  padding: 0;
}

.admin-panel li {
  background-color: #ffffff;
  border: 1px solid #b2ebf2; 
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.admin-panel li:hover {
  background-color: #b2ebf2; 
}

.admin-panel p {
  color: #004d40; 
}

.admin-panel .loading {
  color: #00796b;
}

.admin-panel .error {
  color: #d32f2f;
}

button {
  background: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004d40; 
}

.admin-panel .detail {
  margin-top: 10px;
}

.admin-panel .detail p {
  margin: 5px 0;
}

.admin-panel .detail span {
  font-weight: bold;
}



.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-container h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.form-group textarea {
  resize: none; 
  min-height: 100px; 
}

.form-group select {
  height: 40px; 
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}


.add-exercise-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-info img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.weather-info span {
  font-size: 14px;
}



.location-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1em;
}

.location-form label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location-form input {
  padding: 12px; 
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  box-sizing: border-box; 
}

.location-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; 
  align-self: center; 
}

.location-form button:hover {
  background-color: #0056b3;
}

.location-list {
    list-style-type: none;
    padding: 0;
}

.location-item {

    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: background-color 0.3s;

}

.location-item p {
  margin: 5px 0 0;

}

.location-item h3 {
  margin: 0;
}

.location-item:hover {
  background-color: #e2e6ea;
}

.home {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

.home h1 {
  font-size: 2.5em;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 40px;
}

.features, .testimonials, .call-to-action {
  margin-bottom: 40px;
}

.features h2, .testimonials h2, .call-to-action h2 {
  font-size: 2em;
  color: #333;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  font-size: 1.2em;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.testimonials blockquote {
  font-size: 1.2em;
  border-left: 5px solid #4CAF50;
  padding-left: 20px;
  margin: 20px 0;
  color: #666;
}

.testimonials footer {
  font-size: 1em;
  color: #999;
  text-align: right;
  margin-top: 10px;
}

.call-to-action {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.call-to-action p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.call-to-action button {
  background-color: #4CAF50;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.call-to-action button:hover {
  background-color: #45a049;
}

.workout-list {
  list-style: none;
}

.recipe-item {
  width: 85%;
}

.about {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

.about h1 {
  font-size: 2.5em;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 40px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 2em;
  color: #333;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section p, section ul {
  font-size: 1.2em;
}

section ul {
  list-style: none;
  padding: 0;
}

section ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.login-container, .register-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: block;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.25rem;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  padding: 0.75rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  width: 100%;
}

.btn:hover {
  background-color: #45a049;
}

.location-details-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 4em;
}

.location-details-title {
  text-align: center;
}

.location-details-content {
  display: flex;
  justify-content: space-between;
}

.location-weather-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 45%;
}

.location-map {
  flex-grow: 1;
  padding: 20px;
  flex-basis: 45%;
}

.location-weather-item {
  margin-bottom: 10px;
}

.location-weather-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.btn-delete-location {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}

.location-form, .workout-detail, .recipe-detail, .edit-workout, .editRecipeContainer, .add-recipe {
  margin-bottom: 4em;
}









